#page-mod-mposter-view #mod_mposter-content {
    clear: both;
    padding-left: 0;
    padding-right: 0;
}

#page-mod-mposter-view.editing #block-region-mod_mposter-pre[data-droptarget="1"],
#page-mod-mposter-view.editing #block-region-mod_mposter-post[data-droptarget="1"] {
    border: 2px dashed #888;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 10em;
}

