#page-mod-mediaposter-view #mod_mediaposter-content {
    clear: both;
    padding-left: 0;
    padding-right: 0;
}

#page-mod-mediaposter-view.editing #block-region-mod_mediaposter-pre[data-droptarget="1"],
#page-mod-mediaposter-view.editing #block-region-mod_mediaposter-post[data-droptarget="1"] {
    border: 2px dashed #888;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 10em;
}

